<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>This is forgot password page</title>
</head>
<body>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2 mt-5">
					<div class="my-card mt-1">

						<!-- <!-- message box -->

						<!-- <div th:if="${session.message}" class="container">

							<div 
								class="alert alert-danger my-2 text-center" role="alert">
								<span th:text="${session.message.content}"></span>
							</div>

							<th:block th:text="${#session.removeAttribute('message')}"></th:block>

						</div>  -->



						<h3 class="text-center m-3">Your Register Email</h3>


						<form action="" method="post" th:action="@{/send-otp}">

							<div class="form-group">
								<input type="email" name="email" placeholder="enter your email"
									class="form-control" required="required">
							</div>


							<div class="container text-center">

								<button class="btn btn-warning">Send OTP</button>

							</div>

						</form>


					</div>

				</div>
			</div>
		</div>
	</section>
</body>
</html>

</body>
</html>