<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Your Profile</title>
</head>
<body>
	<section>

		<div class="card mr-3 ml-3">
			<div class="card-body">
				<div class="container text-center">

					<img src="" style="height: 200px; width: 200px;" class="myProfile"
						th:src="@{'/img/'+${user.imageUrl}}" alt="profile photoe">

					<h1 class="text-center" th:text="${user.name}"></h1>

					<div class="table-responsive">

						<table class="table text-center">
							<thead>
								<tr>
									<th scope="col">User ID</th>
									<th scope="col">SCMUSER<span th:text="${user.id}"></span></th>

								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row">Email</th>
									<td><span th:text="${user.email}"></span></td>

								</tr>



								<tr>
									<th scope="row">Role</th>
									<td><span th:text="${user.role}"></span></td>

								</tr>

								<tr>
									<th scope="row">Account Active</th>
									<td><span th:text="${user.enabled}"></span></td>

								</tr>

								<tr>
									<th scope="row">About</th>
									<td><span th:text="${user.about}"></span></td>

								</tr>



							</tbody>




						</table>

					</div>



				</div>

			</div>

		</div>

		<script>
		
			$(document).ready(()=>{
				$('.item').removeClass('active');	
				$('#YourProfile').addClass('active');
			});
		
		</script>



	</section>
</body>
</html>