<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="normal/base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<section>
		<div class="card mr-3 ml-3">
			<div class="card-body">

				<h1 class="text-center">Your Contacts</h1>

				<div class="search-container my-3">
				
					<input onkeyup="search()" id="search-input" type="text" class="form-control" placeholder="search your contact">
				
					<div class="search-result">
					
						<h2>This is search result</h2>
					
					</div>
				
				</div>

			<div class="table-responsive">
				<table class="table table-hover">
					<thead class="thead-light">
						<tr>
							<th scope="col">#Id</th>
							<th scope="col">Name</th>
							<th scope="col">Email</th>
							<th scope="col">Phone</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="c:${contacts}">
						
							<th scope="row" th:text="${'SCMUSER' + c.cId}"></th>
							
							<td>
							
							<img src="" class="myProfile" th:src="@{'/img/'+${c.image}}" alt="profile photoes">
							
							<span th:text="${c.contactName}"></span></td>
							
							<td >
						
							<a href="#" th:href="@{'/user/'+${c.cId}+'/contact'}">		
								
							<span th:text="${c.email}"></span></a></td>
							
							<td th:text="${c.phone}"></td>
							<td>
								<a href="#" th:onclick="|deleteContact(${c.cId})|" class="btn btn-danger btn-sm">Delete</a>
								
								<form th:action="@{'/user/update-contact/'+${c.cId}}" class="mt-2" method="post">
								
								<button type="submit" class="btn btn-primary btn-sm">Update</button>
								
								</form>
							</td>
						</tr>
					</tbody>
				</table>
				</div>
				<!-- pagination  -->
				<nav aria-label="Page navigation example">
					<ul class="pagination">
						
						<li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/user/show_contacts/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
						
						<li th:classappend="${currentPage==i-1?'active':''}" th:each="i:${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/user/show_contacts/'+${i-1}}"  class="page-link" href="#"><span th:text="${i}"></span></a></li>

						<li th:if="${currentPage+1 != totalPages}"  class="page-item"><a th:href="@{'/user/show_contacts/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>


					</ul>
				</nav>

			</div>
		</div>
		<script>
		
			$(document).ready(()=>{
				$('.item').removeClass('active');	
				$('#viewContacts').addClass('active');
			});
		
		</script>
		
	</section>
</body>
</html>